#navigation{
  background-image: url("../pics/Main Banner Hotwater.png");
  height: 730px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#body{
  background-color: white;
  border: 2px solid black;
  padding: 25px;
  background-repeat: no-repeat;
  background-size: auto;
}

#navarticle {
	display: flex;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info div {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

h1{
	color: #0fcc5b;
	font-weight: bold;
}

h2{
	color: #0fcc5b;
}

h3{
	color: black;
	font-weight: bold;
}

h4{
	color: white;
	font-weight: bold;
}

#sectionbelow{
	background-color: #1a2741;
	height: 150px;
	background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#pages{
	color: #0fcc5b;
}

#contact{
	color: #0fcc5b;
}

#download{
	color: #0fcc5b;
}

footer {
	display: flex;
	justify-content: center;
	padding: 0.7rem;
	background-color: #1a2741;
	color: white;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

button{
	color:white;
	background-color: #0fcc5b;
	border-radius: 25px;
	font-size: 1rem;
	padding: .7rem;
}

#button2{
	color:white;
	background-color: #1a2741;
	border-radius: 25px;
	font-size: 1rem;
	padding: .7rem;
}

a i {
	color: white;
}

#exampleModal{
	color: black;
}

#pre-footer {
	padding: 1rem;
	display: flex;
	justify-content: space-around;
	background-color: #1a2741;
	color: white;
}

#pre-footer > div > * {
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}